@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "_AdminLayout";
}


<div class="card-header border-0">
    <h3 class="mb-0">Proje Ekleme Sayfası</h3>
</div>
@using (Html.BeginForm("AddPortfolio", "Portfolio", FormMethod.Post))
{
<br/>
@Html.Label("Proje Başlığı")
@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
<br/>
<label>Görsel 1</label>
@Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
<br/>
<label>Görsel 2</label>
@Html.TextBoxFor(x => x.ImageUrl2, new { @class = "form-control" })
<br/>
<label>Proje URL</label>
@Html.TextBoxFor(x => x.ProjectUrl, new { @class = "form-control" })
<br/>
<button class="btn btn-success">Kaydet</button>
}
