@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "EditExperience";
    Layout = "_AdminLayout";
}

<div class="card-header border-0">
    <h3 class="mb-0">Deneyim Düzenleme Sayfası</h3>
</div>
@using (Html.BeginForm("EditExperience", "Experience", FormMethod.Post))
{
    @Html.HiddenFor(x => x.ExperienceID)
    <br/>
    @Html.Label("Deneyim Başlığı")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br/>
    <label>Tarih Bilgisi</label>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br/>
    <label>Resim Yolu</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br/>
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description,10,3, new { @class = "form-control" })
    <br/>
    <button class="btn btn-outline-success">Güncelle</button>
}